services:

# ================= POSTGRES =================
- type: postgres
  name: ssb-postgres
  plan: free

# ================= KEYCLOAK =================
- type: web
  name: ssb-keycloak
  env: docker
  dockerfilePath: ./docker-services/Dockerfile.keycloak
  dockerContext: ./docker-services
  plan: free

  envVars:
    - key: KC_DB
      value: postgres

    - key: KEYCLOAK_ADMIN
      value: admin

    - key: KEYCLOAK_ADMIN_PASSWORD
      generateValue: true

    - key: KC_DB_URL
      fromDatabase:
        name: ssb-postgres
        property: connectionString

# ================= BACKEND =================
- type: web
  name: ssb-backend
  env: docker
  dockerfilePath: ./PPDT/Dockerfile
  dockerContext: ./PPDT
  plan: free

  envVars:
    - key: SPRING_PROFILES_ACTIVE
      value: prod

    - key: SERVER_PORT
      value: 10000

    # DB mapping
    - key: DB_HOST
      fromDatabase:
        name: ssb-postgres
        property: host

    - key: DB_PORT
      fromDatabase:
        name: ssb-postgres
        property: port

    - key: DB_NAME
      fromDatabase:
        name: ssb-postgres
        property: database

    - key: DB_USER
      fromDatabase:
        name: ssb-postgres
        property: user

    - key: DB_PASS
      fromDatabase:
        name: ssb-postgres
        property: password

    # keycloak
    - key: KEYCLOAK_ISSUER_URI
      value: http://ssb-keycloak:10000/realms/ssb-realm

    - key: KEYCLOAK_BASE_URL
      value: http://ssb-keycloak:10000

    # services
    - key: NEWS_SERVICE_URL
      value: http://ssb-news-service:10000/news

    - key: ANALYSE_SERVICE_URL
      value: http://ssb-analysis-service:10000/analyze/ppdt

    # mongo
    - key: MONGO_URI
      value: YOUR_ATLAS_URI

    - key: FRONTEND_URL
      value: https://yourfrontend.onrender.com

# ================= NEWS SERVICE =================
- type: web
  name: ssb-news-service
  env: docker
  dockerfilePath: ./News Section/Dockerfile
  dockerContext: ./News Section
  plan: free

# ================= ANALYSIS SERVICE =================
- type: web
  name: ssb-analysis-service
  env: docker
  dockerfilePath: ./Analyse/Dockerfile
  dockerContext: ./Analyse
  plan: free
